body {
  font-family: "Courier New", Courier, monospace;
}

html {
  scroll-behavior: smooth;
}

#topbtm {
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  padding: 14px 16px;
}

li a:hover {
  background-color: #111;
  border-radius: 15px;
}

#side-bar {
  display: flex;
  flex-direction: column;
}

#about {
  display: flex;
  width: 50%;
  margin-left: 30%;
}

main img {
  /* width: 30%; */
  border: solid 5px #111;
  border-radius: 15px;
}

main img:hover {
  border: solid 5px #666;
  transition: all 0.3s ease 0s;
}

img {
  width: 40%;
}

.column-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 992px) {
  main img {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  main img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
